<?xml version="1.0" encoding="utf-8"?>
<configuration>
  	<config>
		<add key="defaultPushSource" value="http://awwtng01.hq.bn-corp.com/nuget/InternalLibs" allowInsecureConnections="true" />
	</config>
	<packageSources>
		<clear />
		<add key="B&amp;N External Package Feed" value="https://awwtng01.hq.bn-corp.com/nuget/ExternalLibs" allowInsecureConnections="true" />
		<add key="B&amp;N dotnET Tools Feed" value="http://awwtng01.hq.bn-corp.com/nuget/dotnet-tools/v3/index.json" allowInsecureConnections="true" />
	</packageSources>
</configuration>
